In [10]:
subway_colors = {
    '호선': ['1호선', '2호선', '3호선', '4호선', '5호선', '6호선', '7호선', '8호선', '9호선', '우이신설선', '신림', '공항철도', '경의중앙', '경춘', '수인분당'],
    '색상': ['darkblue', 'lightgreen', 'orange', 'lightblue', 'darkpurple', 'darkred', 'darkgreen', 'pink', 'lightgray', 'lightgreen', 'blue', 'darkblue', 'lightblue', 'green', 'lightorange']
}

In [11]:
import pandas as pd 
df = pd.DataFrame.from_dict(subway_colors)
df

       호선           색상
0     1호선     darkblue
1     2호선   lightgreen
2     3호선       orange
3     4호선    lightblue
4     5호선   darkpurple
5     6호선      darkred
6     7호선    darkgreen
7     8호선         pink
8     9호선    lightgray
9   우이신설선   lightgreen
10     신림         blue
11   공항철도     darkblue
12   경의중앙    lightblue
13     경춘        green
14   수인분당  lightorange

In [ ]:
import mysql.connector

yespa_db = mysql.connector.connect(
    host = 'database-1.c3ieyo8m4v9o.ap-northeast-2.rds.amazonaws.com',
    port = 3306,
    user = 'eda_team',
    database = 'eda_project',
    password = '***'
)

cursor = yespa_db.cursor(buffered=True)

sql = "INSERT INTO GIHU_metro_colors VALUES(%s,%s)"

for i, row in df.iterrows():
    cursor.execute(sql, tuple(row))
    print(tuple(row))
    yespa_db.commit()
    
yespa_db.close()