In [9]:
import pandas as pd

data = {
    '역명': ['샛강', '대방(성애병원)', '서울지방병무청', '보라매', '보라매공원', '보라매병원(전문건설회관)', '당곡', '신림', '서원', '서울대벤처타운', '관악산(서울대)'],
    '위도': [37.51715099617103, 37.51302197258486, 37.506028336724505, 37.49986380893415, 37.49521329003488, 37.49280216609114, 37.49017371989295, 37.48491306754554, 37.47821158950264, 37.47194107329665, 37.468991450151215],
    '경도': [126.92949511440425, 126.92554017518773, 126.92267441513674, 126.92019280587613, 126.91825273797332, 126.92359268240538, 126.9275529771196, 126.92959326054164, 126.93308169642698, 126.93399166552521, 126.94511767812193]
}

df = pd.DataFrame(data)
df

               역명         위도          경도
0              샛강  37.517151  126.929495
1        대방(성애병원)  37.513022  126.925540
2         서울지방병무청  37.506028  126.922674
3             보라매  37.499864  126.920193
4           보라매공원  37.495213  126.918253
5   보라매병원(전문건설회관)  37.492802  126.923593
6              당곡  37.490174  126.927553
7              신림  37.484913  126.929593
8              서원  37.478212  126.933082
9         서울대벤처타운  37.471941  126.933992
10       관악산(서울대)  37.468991  126.945118

In [10]:
df.insert(1, '호선', '신림')
df

               역명  호선         위도          경도
0              샛강  신림  37.517151  126.929495
1        대방(성애병원)  신림  37.513022  126.925540
2         서울지방병무청  신림  37.506028  126.922674
3             보라매  신림  37.499864  126.920193
4           보라매공원  신림  37.495213  126.918253
5   보라매병원(전문건설회관)  신림  37.492802  126.923593
6              당곡  신림  37.490174  126.927553
7              신림  신림  37.484913  126.929593
8              서원  신림  37.478212  126.933082
9         서울대벤처타운  신림  37.471941  126.933992
10       관악산(서울대)  신림  37.468991  126.945118

In [11]:
df.to_csv('/home/jinsa/dev_ws/EDA_PROJECT/DATA/line_coor_data/신림선jinsa.csv', index=False)